<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Get One Book</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
  </head>
  <body>
    <h1>Get a Book</h1>
    <a href="/list"><button>Back to List</button></a>

    <div class="container">
      <h2>add a book</h2>
      <form class="" action="/create" method="post">
        <div class="">
          <input required type="text" name="title" placeholder="book title">
        </div>
        <div class="">
          <input required type="text" name="author" placeholder="book author">
        </div>
        <button>Add</button>
      </form>
    </div>

  </body>
</html>
