<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book List</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
  </head>
  <body>

    <h1>Book List</h1>

    <a href="/"><button>Back to Index</button></a>
    <a href="/getone"><button>Search a Book</button></a>
    <a href="/create"><button>Create a Book</button></a>
    <a href="/update"><button>Update a Book</button></a>
    <a href="/remove"><button>Remove a Book</button></a>

    <div class="list-container">
      <ul>
        {% if books.length != 0 %}
          {% for book in books %}
            <li class="list-item">{{ book.id }} : {{ book.title }} by {{ book.author }}</li>
          {% endfor %}
        {% else %}
          <li class="list-item no-item"> No Books </li>
        {% endif %}
      </ul>
    </div>


  </body>
</html>
